*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.main-bg{
    background-color: #f5f5f5;
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
}

.menu-content{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    height: 40px;
}

.lista-nav{
    position: relative;
    top: 8px;
    left: 1px;
    display: flex;
    justify-content: center;
    width: 373px;
    height: 32px;
    gap: 30px;
    list-style: none;
}

.lista-nav li a{
    text-decoration: none;
    color: #878787;
    border-bottom: 1px solid #878787;
}

li a.menu-item-select{
    color: #000;
    border-bottom: 1px solid #000;
}